<% url = session_transfer_url(user.transfer_id) %>

<fieldset>
  <legend class="gap">
    <%= image_tag "laptop.svg", role: "presentation", size: 36, class: "colorize--black" %>
    <%= image_tag "transfer.svg", role: "presentation", size: 36, class: "colorize--black" %>
    <%= image_tag "mobile-phone.svg", role: "presentation", size: 36, class: "colorize--black" %>
  </legend>


  <div class="flex flex-column gap">
    <% if Current.user != user %>
      <div class="flex align-center gap justify-center">
        <%= image_tag "crown.svg", size: 16, role: "presentation", class: "flex-item-no-shrink colorize--black" %>
        Share to get them back into their account
      </div>
    <% end %>

    <input type="text" class="input" value="<%= url %>" id="session_transfer_url" readonly>

    <div class="flex align-center center gap">
      <%= link_to_zoom_qr_code(url) do %>
        <span class="for-screen-reader">QR code</span>
        <%= image_tag "qr-code.svg", role: "presentation", size: 20, class: "colorize--black" %>
      <% end %>

      <%= button_to_copy_to_clipboard(url) do %>
        <span class="for-screen-reader">Copy URL</span>
        <%= image_tag "copy-paste.svg", role: "presentation", size: 20, class: "flex-item-no-shrink colorize--black" %>
      <% end %>

      <%= web_share_session_button(url, "Your sign-in link", "This is your own private sign-in URL, DO NOT SHARE IT. Use it to sign-in on another device or if you get locked out.") do %>
        <span class="for-screen-reader">Share</span>
        <%= image_tag "share.svg", role: "presentation", size: 20, class: "flex-item-no-shrink colorize--black" %>
      <% end %>
    </div>
  </div>
</fieldset>
