<% @page_title = @user.name %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back %>
  </div>

  <div class="flex-item-justify-end">
    <%= form_with url: session_path, method: :delete, data: { controller: "sessions" } do %>
      <%= hidden_field_tag :push_subscription_endpoint, nil, data: { sessions_target: "pushSubscriptionEndpoint" } %>

      <button class="btn" data-action="sessions#logout:prevent">
        <%= image_tag "logout.svg" %>
        <span class="for-screen-reader">Log out</span>
      </button>
    <% end %>
  </div>
<% end %>

<section class="panel flex flex-column gap" style="view-transition-name: avatar-<%= @user.id %>">
  <%= render partial: "pwa/install_instructions" %>

  <div class="align-center center gap" data-controller="upload-preview">
    <label class="btn avatar input--file txt-xx-large">
      <%= avatar_image_tag(@user) %>
      <span class="for-screen-reader">Avatar</span>
    </label>
  </div>

  <div class="flex flex-column gap">
    <% if @user.name.present? %>
      <div class="flex align-center gap">
        <%= translation_button(:user_name) %>

        <label class="flex align-center gap flex-item-grow txt-large">
          <%= @user.name %>
        </label>
      </div>
    <% end %>

    <div class="flex align-center gap">
      <%= translation_button(:email_address) %>

      <label class="flex align-center gap flex-item-grow txt-large">
        <%= @user.email_address %>
      </label>
    </div>

    <% if @user.bio.present? %>
      <div class="flex align-center gap">
        <%= translation_button(:bio) %>

        <label class="flex align--center gap flex-item--grow txt-large">
          <%= @user.bio %>
        </label>
      </div>
    <% end %>

    <%= link_to "https://smallbets.com/editdirectoryprofile", class: "btn btn--reversed center txt-large", target: "_blank" do %>
      <%= image_tag "pencil.svg" %>
      <span class="for-screen-reader">Edit on smallbets.com</span>
    <% end %>
  </div>

  <div class="margin-block pad-inline pad-block fill-shade border-radius">
    <menu class="flex flex-column gap margin-none pad">
      <%= render "users/profiles/shared_memberships", shared_memberships: @shared_memberships, thread_memberships: @thread_memberships %>

      <% if @direct_memberships.any? && @shared_memberships.any? %>
        <hr class="separator full-width" style="--border-style: solid">
      <% end %>

      <%= render partial: "users/profiles/membership", collection: @direct_memberships %>
    </menu>
  </div>

  <%= render "users/profiles/transfer", user: @user %>

  <% if Rails.env.development? %>
    <fieldset>
      <legend>
        <%= image_tag "key.svg", role: "presentation", size: 36, class: "colorize--black" %>
      </legend>
      <%= link_to "Push Notifications Dev Mode", user_push_subscriptions_url, class: "btn txt-small center" %>
    </fieldset>
  <% end %>
</section>
