<span id="<%= dom_id(message, :answered_by) %>" class="message__meta-block" hidden data-controller="show-if" data-show-if-roles-value='["expert","administrator"]'>
  <% if message.answered? %>
    <span class="message__meta-block message__answered message__answered-by-me" hidden data-controller="show-if" data-show-if-id-value="<%= message.answered_by_id %>">
      Answered by <%= message.answered_by&.name %>
    </span>
    <span class="message__meta-block message__answered" data-controller="hide-if" data-hide-if-id-value="<%= message.answered_by_id %>">
      Answered by <%= message.answered_by&.name %>
    </span>
  <% end %>
</span>