<%# Be sure to check/update messages/_template.html.erb when changing this file %>

<% current_room ||= nil %>
<% is_first_unread_message = (message == local_assigns[:first_unread_message]) %>
<% cache message_cache_key(message, room_id: current_room&.id, is_first_unread_message:) do %>
  <%= message_tag message do %>
    <% if is_first_unread_message %>
      <h2 id="unread_separator" class="message-separator message__new-separator"><span>New since last visit</span></h2>
    <% end %>
    
    <h2 class="message-separator message__day-separator"><%= local_datetime_tag message.created_at, style: :date %></h2>

    <div class="avatar message__avatar">
      <%= render 'users/popup', user: message.creator %>
    </div>

    <turbo-frame id="<%= dom_id(message, :edit) %>">
      <div class="message__body">
        <div class="message__body-content">
          <div class="message__meta">
            <h3 class="message__heading">
              <span class="message__author" title="<%= message.creator.title %>">
                <strong data-reply-target="author"><%= message.creator.name %></strong>
              </span>
              <%= link_to message_timestamp(message, class: "message__timestamp"), room_at_message_path(current_room || message.room, message), target: "_top",
                    class: "message__permalink" %>
              <span class="message__room <%= "message__original-room" if current_room.present? && current_room != message.room %>">
                <%= link_to room_display_name(message.room, for_user: nil), room_at_message_path(message.room, message), target: "_top", data: { reply_target: "link" } %>
              </span>
            </h3>
            <%= render "messages/actions", message: message, current_room: current_room %>
          </div>
          <%= render "messages/presentation", message: message %>
          <%= render "messages/threads", message: message if current_room.blank? || current_room == message.room %>
          <%= render "messages/boosts/boosts", message: message %>
        </div>
      </div>
    </turbo-frame>
  <% end %>
<% end %>
