<% @page_title = "Sign in" %>
<% turbo_page_requires_reload %>

<section class="txt-align-center">
  <div class="panel <%= "shake" if flash[:alert] %>">
    <%= account_logo_tag style: "center margin-block-end txt-xx-large" %>

    <fieldset class="flex flex-column gap center-block upad">
      <legend class="txt-large txt-align-center"><strong><%= Current.account.name %></strong></legend>
      <p style="color: var(--color-negative)">
        We recently changed the way to log into Campfire.
        If you have been unexpectedly logged out, it means we couldn't find your Campfire email in the Small Bets directory.
        Follow the instructions below to create a new Campfire account or contact us to recover your existing login.</p>
      <p class="txt-medium">To log in, please go to the Small Bets website and click the <i>Chat</i> link in the sidebar.</p>
      
    </fieldset>

    <%= link_to "https://smallbets.com/", class: "btn btn--reversed center txt-large", title: "Login via smallbets.com" do %>
      <%= image_tag "arrow-right.svg", role: "presentation" %>
      <span>smallbets.com</span>
    <% end %>
  </div>

  <%= render "accounts/help_contact" %>
</section>
