<% @page_title = "Sign in" %>
<% turbo_page_requires_reload %>

<section class="txt-align-center">
  <div class="panel <%= "shake" if flash[:alert] %>">
    <%= account_logo_tag style: "center margin-block-end txt-xx-large" %>

    <fieldset class="flex flex-column gap center-block upad">
      <legend class="txt-large txt-align-center"><strong><%= Current.account.name %></strong></legend>
      <p class="txt-medium">To log in, go to smallbets.com and click the Small Talk banner on the homepage.</p>
      
    </fieldset>

    <%= link_to "https://smallbets.com/", class: "btn btn--reversed center txt-large", title: "Login via smallbets.com" do %>
      <%= image_tag "arrow-right.svg", role: "presentation" %>
      <span class="for-screen-reader">Go</span>
    <% end %>
  </div>

  <%= render "accounts/help_contact" %>
</section>
