<div id="<%= dom_id(message, :bookmarking) %>">
  <% if message.bookmarked_by_current_user? %>
    <%= button_to message_bookmarks_path(message), method: :delete, class: "btn message__action-btn" do %>
      <%= image_tag "bookmark-filled.svg", class: "colorize--black", size: 20, aria: { hidden: "true" } %>
    <% end %>
  <% else %>
    <%= form_with model: [ message, Bookmark.new ] do |form| %>
      <%= form.button type: "submit", title: "Bookmark", class: "btn message__action-btn" do %>
        <%= image_tag "bookmark-outlined.svg", class: "colorize--black", size: 20, aria: { hidden: "true" } %>
      <% end %>
    <% end %>
  <% end %>
</div>