<label class="align-center center avatar__form gap" data-controller="upload-preview">
  <div class="btn input--file">
    <%= image_tag "camera.svg", role: "presentation", size: 20 %>
    <%= form.file_field :avatar, class: "input", accept: "image/*",
          data: { upload_preview_target: "input", action: "upload-preview#previewImage" } %>
    <span class="for-screen-reader">Upload avatar</span>
  </div>

  <div class="btn avatar input--file txt-xx-large">
    <%= image_tag bot.avatar.attached? ? bot.avatar : "default-bot-avatar.svg", role: "presentation", size: 300, data: { upload_preview_target: "image" } %>
    <span class="for-screen-reader">Avatar</span>
  </div>
</label>

<div class="flex align-center gap">
  <%= translation_button(:bot_name) %>
  <label class="flex align-center gap flex-item-grow txt-large input input--actor">
    <%= form.text_field :name, class: "input", autocomplete: "name", placeholder: "Name the bot", autofocus: true, required: true,
          data: { "1p-ignore": true } %>
    <%= image_tag "bot.svg", role: "presentation", size: 24, class: "colorize--black" %>
  </label>
</div>

<div class="flex align-center gap">
  <%= translation_button(:webhook_url) %>
  <label class="flex align-center gap flex-item-grow txt-large input input--actor">
    <%= form.url_field :webhook_url, class: "input", placeholder: "Webhook URL" %>
    <%= image_tag "web.svg", role: "presentation", size: 24, class: "colorize--black" %>
  </label>
</div>

<%= profile_form_submit_button %>
