<% cache boost do %>
  <div id="<%= dom_id(boost) %>"
      class="boost boost-item flex-inline postion--relative max-width align-center fill-white gap"
      data-controller="boost-delete boost-repeat" data-action="click->boost-repeat#perform click->boost-delete#reveal" 
      data-boost-delete-perform-class="boost--deleting" data-boost-delete-reveal-class="expanded" 
      data-boost-delete-booster-id-param="<%=boost.booster.id %>" data-boost-repeat-booster-id-param="<%=boost.booster.id %>">
    
    <figure class="avatar boost__avatar flex-item-no-shrink" data-stop-propagation="true">
      <%= avatar_tag boost.booster %>
      <span class="for-screen-reader"><%= boost.booster.name %></span>
    </figure>

    <%= tag.span boost.content, class: [ "txt-small", { "txt-medium": boost.content.all_emoji? } ] %>

    <%= form_with model: [ boost.message, Boost.new ], html: { hidden: true }, 
                  data: { turbo_frame: dom_id(boost.message, :boosting), boost_repeat_target: "form"}  do %>
      <%= hidden_field_tag "boost[content]", boost.content %>
    <% end %>
    
    <%= button_to message_boost_path(boost.message, boost), method: :delete, data: { action: "boost-delete#perform", stop_propagation: true },
          class: "btn btn--negative flex-item-justify-end boost__delete" do %>
      <%= image_tag "minus.svg", size: 20 %>
      <span class="for-screen-reader">Delete this boost</span>
    <% end %>
  </div>
<% end %>
