<% @page_title = "Library" %>
<% @body_class = "sidebar searches inbox" %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_home %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="rooms position-relative flex flex-column gap sidebar__container overflow-y overflow-hide-scrollbar">
    <%= link_to '#building-media-business', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Building a Media Business</span>
    <% end %>

    <%= link_to '#intro-to-internet-pipes', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Intro to Internet Pipes</span>
    <% end %>

    <%= link_to '#understanding-linkedin', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Understanding LinkedIn</span>
    <% end %>

    <%= link_to '#publish-a-best-selling-course-on-udemy', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Publish a Best-Selling Course on Udemy</span>
    <% end %>

    <%= link_to '#amazon-kdp-crash-course', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Amazon KDP Crash Course</span>
    <% end %>

    <%= link_to '#effortless-screencasting', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Effortless Screencasting</span>
    <% end %>

    <%= link_to '#domain-first-development', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Domain-First Development</span>
    <% end %>

    <%= link_to '#delve-into-expiring-domain-names', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Delve Into Expiring Domain Names</span>
    <% end %>

    <%= link_to '#building-businesses-on-wordpress', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Building Businesses on Wordpress</span>
    <% end %>

    <%= link_to '#spreading-ideas-with-memes', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Spreading Ideas with Memes</span>
    <% end %>

    <%= link_to '#understanding-the-x-algorithm', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Understanding the X Algorithm</span>
    <% end %>

    <%= link_to '#emerging-from-the-void-on-x', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Emerging from the Void on X</span>
    <% end %>

    <%= link_to '#make-500-on-upwork-by-monday', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Make $500 on Upwork by Monday</span>
    <% end %>

    <%= link_to '#enough-gpt-to-be-dangerous', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Enough GPT to be Dangerous</span>
    <% end %>

    <%= link_to '#ai-for-the-rest-of-us', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">AI for the Rest of Us</span>
    <% end %>

    <%= link_to '#growing-on-substack', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Growing on Substack</span>
    <% end %>

    <%= link_to '#getting-started-on-youtube', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Getting Started on YouTube</span>
    <% end %>

    <%= link_to '#casual-youtube-creation', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Casual YouTube Creation</span>
    <% end %>

    <%= link_to '#marketing-fundamentals-for-non-marketers', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Marketing Fundamentals for Non-Marketers</span>
    <% end %>

    <%= link_to '#fundamentals-of-internet-marketing', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Fundamentals of Internet Marketing</span>
    <% end %>

    <%= link_to '#gumroad-crash-course', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Gumroad Crash Course</span>
    <% end %>

    <%= link_to '#the-art-of-podcasting', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">The Art of Podcasting</span>
    <% end %>

    <%= link_to '#explaining-ideas-visually', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Explaining Ideas Visually</span>
    <% end %>

    <%= link_to '#intro-to-seo', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Intro to SEO</span>
    <% end %>

    <%= link_to '#seo-keyword-research', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">SEO Keyword Research</span>
    <% end %>

    <%= link_to '#building-a-content-roadmap-for-seo', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Building a Content Roadmap for SEO</span>
    <% end %>

    <%= link_to '#wandering-the-pathless-path', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Wandering the Pathless Path</span>
    <% end %>

    <%= link_to '#building-launching-macos-apps-with-swiftui', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Building & Launching macOS Apps with SwiftUI</span>
    <% end %>

    <%= link_to '#intro-to-google-ads', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Intro to Google Ads</span>
    <% end %>

    <%= link_to '#extremely-minimum-viable-video', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Extremely Minimum Viable Video</span>
    <% end %>

    <%= link_to '#build-in-public-on-twitch', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Build in Public on Twitch</span>
    <% end %>

    <%= link_to '#what-to-expect-when-you-go-self-employed', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">What to Expect When You Go Self-Employed</span>
    <% end %>

    <%= link_to '#a-practical-guide-to-self-employment-taxes', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">A Practical Guide to Self-Employment Taxes</span>
    <% end %>

    <%= link_to '#getting-started-with-short-term-rentals', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Getting Started with Short-Term Rentals</span>
    <% end %>

    <%= link_to '#creating-income-through-real-estate', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Creating Income through Real Estate</span>
    <% end %>

    <%= link_to '#a-quick-start-guide-to-adult-adhd', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">A Quick Start Guide to Adult ADHD</span>
    <% end %>

    <%= link_to '#getting-the-attention-of-influential-people', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Getting The Attention of Influential People</span>
    <% end %>

    <%= link_to '#getting-featured-in-the-media', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Getting Featured in the Media</span>
    <% end %>

    <%= link_to '#getting-started-with-midjourney', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Getting Started with Midjourney</span>
    <% end %>

    <%= link_to '#the-basics-of-buying-and-selling-businesses', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">The Basics of Buying & Selling Businesses</span>
    <% end %>

    <%= link_to '#art-of-interviewing', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Art of Interviewing</span>
    <% end %>

    <%= link_to '#self-sponsor-your-own-us-green-card', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Self-Sponsor Your Own US Green Card</span>
    <% end %>

    <%= link_to '#crowdfunding-crash-course', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Crowdfunding Crash Course</span>
    <% end %>

    <%= link_to '#state-of-the-creator-economy', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">State of the Creator Economy</span>
    <% end %>

    <%= link_to '#equity-crowdfunding-for-solopreneurs', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Equity Crowdfunding for Solopreneurs</span>
    <% end %>

    <%= link_to '#notion-for-creators-and-entrepreneurs', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Notion for Creators and Entrepreneurs</span>
    <% end %>

    <%= link_to '#a-stoic-guide-to-dealing-with-uncertainty', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">A Stoic Guide to Dealing with Uncertainty</span>
    <% end %>

    <%= link_to '#a-pragmatic-guide-to-business-ethics', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">A Pragmatic Guide to Business Ethics</span>
    <% end %>

    <%= link_to '#reproducible-success-strategies-and-ergodicity', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Reproducible Success Strategies and Ergodicity</span>
    <% end %>

    <%= link_to '#small-bets-fundamentals', class: "align-center gap room btn txt-nowrap" do %>
      <span class="overflow-ellipsis">Small Bets Fundamentals</span>
    <% end %>
  </div>
<% end %>

<div style="height: 100%;">
  <div style="padding: 25px">
    <h2 id="building-media-business" style="padding-top: 25px;">Building a Media Business - Arvid Kahl</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:60.1% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/990292434?h=e641672857&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Arvid Kahl - Building a Media Business - July 2024"></iframe></div>

    <h2 id="intro-to-internet-pipes" style="padding-top: 25px;">Intro to Internet Pipes - Steph Smith</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.64% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/956676321?h=ac8207f1c9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Steph Smith - How to Sift Through the Treasure Trove of Online Data - June 2024"></iframe></div>

    <h2 id="understanding-linkedin" style="padding-top: 25px;">Understanding LinkedIn - Justin Welsh</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:55% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/992272837?h=fe18a755f0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Justin Welsh - Understanding LinkedIn - July 2024"></iframe></div>

    <h2 id="publish-a-best-selling-course-on-udemy" style="padding-top: 25px;">Publish a Best-Selling Course on Udemy - Hassan Osman</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:62.5% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/910665196?h=b79522b800&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Hassan Osman - Publish a Best-Selling Course on Udemy - February 2024"></iframe></div>

    <h2 id="amazon-kdp-crash-course" style="padding-top: 25px;">Amazon KDP Crash Course - Greg Lim</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.14% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/930506626?h=1b6d4bc4f9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Greg Lim - Amazon KDP Crash Course - April 2024"></iframe></div>

    <h2 id="effortless-screencasting" style="padding-top: 25px;">Effortless Screencasting - Aaron Francis</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/954544854?h=c87052ceac&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Aaron Francis - Effortless Screencasting - June 2024"></iframe></div>

    <h2 id="domain-first-development" style="padding-top: 25px;">Domain-First Development - Peter Askew</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/1003284914?h=02a79403c6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Peter Askew - Domain-First Development - August 2024"></iframe></div>

    <h2 id="delve-into-expiring-domain-names" style="padding-top: 25px;">Delve Into Expiring Domain Names - Peter Askew</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/935542652?h=1a51f3f0e9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Peter Askew - Delve Into Expiring Domain Names - April 2024"></iframe></div>

    <h2 id="building-businesses-on-wordpress" style="padding-top: 25px;">Building Businesses on Wordpress - Peter Askew</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/893821929?h=91df60b9a3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Peter Askew - Building Businesses on Wordpress (for Beginners) - December 2023"></iframe></div>

    <h2 id="spreading-ideas-with-memes" style="padding-top: 25px;">Spreading Ideas with Memes - Dagobert Renouf</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:63.13% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/928856469?h=72c8c5b4cf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Dagobert Renouf - Spreading Ideas with Memes - March 2024"></iframe></div>

    <h2 id="understanding-the-x-algorithm" style="padding-top: 25px;">Understanding the X Algorithm - Dagobert Renouf</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:62.97% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/983307260?h=7b2d5d9461&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Dagobert Renouf - Understanding the X Algorithm - July 2024"></iframe></div>

    <h2 id="emerging-from-the-void-on-x" style="padding-top: 25px;">Emerging from the Void on X - Daniel Vassallo</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.15% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/948974021?h=2812dc9768&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Daniel Vassallo - Emerging from the Void on X - May 2024"></iframe></div>

    <h2 id="make-500-on-upwork-by-monday" style="padding-top: 25px;">Make $500 on Upwork by Monday - Sean O'Dowd</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:58.33% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/913544841?h=ec47526e34&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sean O'Dowd - Make $500 on Upwork by Monday - February 2024"></iframe></div>

    <h2 id="enough-gpt-to-be-dangerous" style="padding-top: 25px;">Enough GPT to be Dangerous - Sairam Sundaresan</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:53.96% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/923547510?h=2d0e7fcc85&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sairam Sundaresan - Enough GPT to be Dangerous - March 2024"></iframe></div>

    <h2 id="ai-for-the-rest-of-us" style="padding-top: 25px;">AI for the Rest of Us - Sairam Sundaresan</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/1004708167?h=be14b36c49&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sairam Sundaresan - AI for the Rest of Us - August 2024"></iframe></div>

    <h2 id="growing-on-substack" style="padding-top: 25px;">Growing on Substack - Elle Griffin</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:43.73% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/894927541?h=4b9217f953&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Elle Griffin - Growing on Substack - December 2023"></iframe></div>

    <h2 id="getting-started-on-youtube" style="padding-top: 25px;">Getting Started on YouTube - Aprilynne Alter</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/941383972?h=5baaa5244b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Aprilynne Alter - Getting Started on YouTube - April 2024"></iframe></div>

    <h2 id="casual-youtube-creation" style="padding-top: 25px;">Casual YouTube Creation - Azul Wells</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:53.96% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/904237083?h=81d92c71ce&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Azul Wells - Casual YouTube Creation - January 2024"></iframe></div>

    <h2 id="marketing-fundamentals-for-non-marketers" style="padding-top: 25px;">Marketing Fundamentals for Non-Marketers - Daniel Vassallo</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:47.81% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/939393144?h=bbf6bb22fc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Daniel Vassallo - Marketing Fundamentals for Non-Marketers - April 2024"></iframe></div>

    <h2 id="fundamentals-of-internet-marketing" style="padding-top: 25px;">Fundamentals of Internet Marketing - Amanda Natividad</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.15% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/956103139?h=b7c2e0541a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Amanda Natividad - Fundamentals of Internet Marketing - June 2024"></iframe></div>

    <h2 id="gumroad-crash-course" style="padding-top: 25px;">Gumroad Crash Course - Daniel Vassallo</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/943903540?h=9d0a87a8e7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Daniel Vassallo - Gumroad Crash Course - May 2024"></iframe></div>

    <h2 id="the-art-of-podcasting" style="padding-top: 25px;">The Art of Podcasting - Espree Devora</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:54.11% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/860345888?h=e831543740&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Espree Devora - The Art of Podcasting - September 2023"></iframe></div>

    <h2 id="explaining-ideas-visually" style="padding-top: 25px;">Explaining Ideas Visually - Janis Ozolins</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.11% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/944631997?h=195540298e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Janis Ozolins - Explaining Ideas Visually - May 2024"></iframe></div>

    <h2 id="intro-to-seo" style="padding-top: 25px;">Intro to SEO - Jordan O'Connor</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:42.29% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/848233256?h=5e556f0527&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Jordan O'Connor - Intro to SEO - July 2023"></iframe></div>

    <h2 id="seo-keyword-research" style="padding-top: 25px;">SEO Keyword Research - Jordan O'Connor</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/915764057?h=f426e9e8c2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Jordan O'Connor - SEO Keyword Research - February 2024"></iframe></div>

    <h2 id="building-a-content-roadmap-for-seo" style="padding-top: 25px;">Building a Content Roadmap for SEO - Jordan O'Connor</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/926022645?h=b7e579ee89&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Jordan O'Connor - Building a Content Roadmap for SEO - March 2024"></iframe></div>

    <h2 id="wandering-the-pathless-path" style="padding-top: 25px;">Wandering the Pathless Path - Paul Millerd</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:54.17% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/947136587?h=8a3c97de9d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Paul Millerd - Wandering the Pathless Path - May 2024"></iframe></div>

    <h2 id="building-launching-macos-apps-with-swiftui" style="padding-top: 25px;">Building & Launching macOS Apps with SwiftUI - Grace Huang</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/942106697?h=f41c2fdad7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Grace Huang - Building and Launching macOS Apps with SwiftUI - May 2024"></iframe></div>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/942476298?h=a4ab98bae6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Grace Huang - Building and Launching macOS Apps with SwiftUI - Session 2 - May 2024"></iframe></div>

    <h2 id="intro-to-google-ads" style="padding-top: 25px;">Intro to Google Ads - Jay Mac</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/946310313?h=1af5e221db&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Jay Mac - Intro to Google Ads - May 2024"></iframe></div>
    
    <h2 id="extremely-minimum-viable-video" style="padding-top: 25px;">Extremely Minimum Viable Video - Cam Houser</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.14% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/899934914?h=b345baba38&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Cam Houser - Extremely Minimum Viable Video - January 2024"></iframe></div>

    <h2 id="build-in-public-on-twitch" style="padding-top: 25px;">Build in Public on Twitch - Charlie Coppinger</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/899716848?h=b1f3095ecb&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Charlie Coppinger - Build in Public on Twitch - January 2024"></iframe></div>

    <h2 id="what-to-expect-when-you-go-self-employed" style="padding-top: 25px;">What to Expect When You Go Self-Employed - Catherine Cusick</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/812700892?h=4a46f4fa77&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Catherine Cusick - What to expect when you go self-employed - March 2023.mp4"></iframe></div>

    <h2 id="a-practical-guide-to-self-employment-taxes" style="padding-top: 25px;">A Practical Guide to Self-Employment Taxes - Catherine Cusick</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:49.3% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/918940839?h=84330a032d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Session 1"></iframe></div>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.14% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/920210589?h=74c637e352&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Session 2"></iframe></div>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.14% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/921590752?h=350467caa3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Session 3"></iframe></div>

    <h2 id="getting-started-with-short-term-rentals" style="padding-top: 25px;">Getting Started with Short-Term Rentals - Isaac French</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/943323959?h=d6b58b0f1b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Isaac French - Getting Started with Short-Term Rentals on AirBnN - May 2024"></iframe></div>

    <h2 id="creating-income-through-real-estate" style="padding-top: 25px;">Creating Income through Real Estate - Louie Bacaj</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:52.92% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/933011385?h=247bfa8a77&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Louie Bacaj - Creating Income through Real Estate - April 2024"></iframe></div>

    <h2 id="a-quick-start-guide-to-adult-adhd" style="padding-top: 25px;">A Quick Start Guide to Adult ADHD - Jesse Anderson</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:48.58% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/885387773?h=93307cdadd&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Jesse Anderson - A Quick Start Guide to Adult ADHD - November 2023"></iframe></div>

    <h2 id="getting-the-attention-of-influential-people" style="padding-top: 25px;">Getting The Attention of Influential People - Benjamin Carlson</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:53.6% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/855583461?h=31965db2ed&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Benjamin Carlson - How to Get The Attention of Highly Influential People - August 2023"></iframe></div>

    <h2 id="getting-featured-in-the-media" style="padding-top: 25px;">Getting Featured in the Media - Benjamin Carlson</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:53.6% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/883080807?h=aaf5803c36&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Benjamin Carlson - Getting Featured in the Media - November 2023"></iframe></div>
    
    <h2 id="getting-started-with-midjourney" style="padding-top: 25px;">Getting Started with Midjourney - Christian Heidorn</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:59% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/933387094?h=1c4ed544bb&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Christian Heidorn - Getting Started with Midjourney - April 2024"></iframe></div>

    <h2 id="the-basics-of-buying-and-selling-businesses" style="padding-top: 25px;">The Basics of Buying & Selling Businesses - Thomas Smale</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:65% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/880628047?h=1c5c14e4f9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Thomas Smale - The Basics of Buying &amp; Selling Businesses - November 2023"></iframe></div>

    <h2 id="art-of-interviewing" style="padding-top: 25px;">Art of Interviewing - Danny Miranda</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:53.6% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/873917681?h=d6ecd10bff&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Danny Miranda - Art of Interviewing - October 2023"></iframe></div>

    <h2 id="self-sponsor-your-own-us-green-card" style="padding-top: 25px;">Self-Sponsor Your Own US Green Card - Archie Agrawal</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:51.14% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/847149173?h=b173d03b15&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Archie Agrawal - Self-Sponsor Your Own US Green Card - July 2023"></iframe></div>

    <h2 id="crowdfunding-crash-course" style="padding-top: 25px;">Crowdfunding Crash Course - Tugra Sahiner</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/838906999?h=e50ecf4b9e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Tugra Sahiner - Crowdfunding Crash Course - June 2023"></iframe></div>

    <h2 id="state-of-the-creator-economy" style="padding-top: 25px;">State of the Creator Economy - Sahil Lavingia</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:58.63% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/825274147?h=b4bdf775de&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sahil Lavingia - State of the Creator Economy - May 2023"></iframe></div>

    <h2 id="equity-crowdfunding-for-solopreneurs" style="padding-top: 25px;">Equity Crowdfunding for Solopreneurs - Sahil Lavingia</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/917253931?h=695d9ba201&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Sahil Lavingia - Equity Crowdfunding for Solopreneurs - February 2024"></iframe></div>

    <h2 id="notion-for-creators-and-entrepreneurs" style="padding-top: 25px;">Notion for Creators and Entrepreneurs - Monica Lim</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:56.25% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/846431617?h=6c8b34cd7c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Monica Lim - Notion for Creators and Entrepreneurs - July 2023"></iframe></div>

    <h2 id="a-stoic-guide-to-dealing-with-uncertainty" style="padding-top: 25px;">A Stoic Guide to Dealing with Uncertainty - Mahmoud Rasmi</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:48.56% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/840317722?h=8385aa79f2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Mahmoud Rasmi - A Stoic Guide to Dealing with Uncertainty &amp; Adversity - June 2023"></iframe></div>

    <h2 id="a-pragmatic-guide-to-business-ethics" style="padding-top: 25px;">A Pragmatic Guide to Business Ethics - Mahmoud Rasmi</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:44.55% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/885791849?h=b6b73ff648&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Mahmoud Rasmi - A Pragmatic Guide to Business Ethics - November 2023"></iframe></div>

    <h2 id="reproducible-success-strategies-and-ergodicity" style="padding-top: 25px;">Reproducible Success Strategies and Ergodicity - Luca Dellanna</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:50% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/839988001?h=7e4090646b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Luca Dellanna - Reproducible Success Strategies and Ergodicity - June 2023"></iframe></div>

    <h2 id="small-bets-fundamentals" style="padding-top: 25px;">Small Bets Fundamentals - Daniel Vassallo</h2>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:46.98% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/951352851?h=828cc1205f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Daniel Vassallo - Small Bets Fundamentals - Session 1"></iframe></div>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:48.13% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/951776416?h=c72a95735f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Daniel Vassallo - Small Bets Fundamentals - Session 2"></iframe></div>
    <div style="margin-top: 10px; margin-bottom: 25px; padding:48.13% 0 0 0;position:relative;"><iframe loading="lazy" src="https://player.vimeo.com/video/952168078?h=ccb1be33ad&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Daniel Vassallo - Small Bets Fundamentals - Session 3"></iframe></div>
  </div>
</div>

<% content_for :footer do %>
  <div class="margin-block-start">&nbsp;</div>
<% end %>
