<div id="<%= dom_id(room, dom_prefix(list_name, :node_content)) %>" class="flex gap align-center justify-space-between">
  <%= link_to_room room,
        class: [ "flex flex-item-grow gap align-center justify-space-between room full-height txt-nowrap overflow-ellipsis txt-lighter txt-undecorated pad-block position-relative", "unread": local_assigns[:unread], "badge": local_assigns[:has_notifications] ],
        style: "padding-block: calc(var(--block-space) / 4);" do %>
    <span class="overflow-ellipsis"><%= room_display_name(room) %></span>

    <hr class="separator flex-item-grow" aria-hidden="true">

    <%= local_datetime_tag room.last_active_at, style: :relative, class: "txt-x-small txt-primary txt-nowrap position-relative" %>
  <% end %>
  
  <span class="txt-small">
    <%= turbo_frame_tag dom_id(room, dom_prefix(:involvement)) do %>
      <%= button_to_change_involvement(room, involvement, from_sidebar: true) %>
    <% end %>
  </span>
</div>
