<% indent = local_assigns[:indent].to_i %>
<% room = local_assigns[:room] || local_assigns[:membership].room %>
<% involvement = local_assigns[:membership]&.involvement || "mentions" %>
<% unread = local_assigns[:membership]&.unread? %>
<% has_notifications = local_assigns[:membership]&.has_unread_notifications? %>

<div id="<%= dom_id(room, dom_prefix(list_name, :list_node)) %>" data-sorted-list-target="<%= "item" if indent == 0 %>"
     data-name="<%= room.sortable_name %>" data-search-text="<%= room.sortable_name %>" data-size="<%= room.messages_count %>"
     data-updated-at="<%= room.last_active_at.iso8601 %>" 
     data-sidebar-starred-rooms-target="room" data-involvement="<%= involvement %>"
     data-type="list_node"
     class="flex flex-column gap" style="<%= "margin-left: var(--block-space);" if indent.between?(1, 3) %>">
  <%= render "users/sidebars/rooms/shared", list_name:, room:, involvement:, unread:, has_notifications: %>

  <% (local_assigns[:thread_memberships] || []).each do |thread_membership| %>
    <% if thread_membership.room.parent_room == room %>
      <%= render "users/sidebars/rooms/shared_with_threads", list_name:, membership: thread_membership, 
                 thread_memberships: local_assigns[:thread_memberships], indent: indent + 1 %>
    <% end %>
  <% end %>
</div>