<% content_for :nav do %>
  <%= account_logo_tag if Current.account.logo.attached? %>

  <%= tag.span class: "btn btn--reversed btn--faux room--current" do %>
    <h1 class="room__contents txt-medium overflow-ellipsis">
      <% if room.direct? %>
        <span class="for-screen-reader">Ping with</span>
      <% end %>

      <%= room_display_name(room) %>
    </h1>
  <% end %>

  <%= link_to_edit_room(room) %>

  <% unless hotwire_native_app? %>
    <div class="flex gap-half align-center">
      <% unless room.direct? %>
        <%= turbo_frame_tag dom_id(room, :involvement) do %>
          <%= button_to_change_involvement(room, @membership.involvement) %>
        <% end %>
      <% end %>
      
      <% if room.one_on_one? %>
        <%= render 'blocks/button', user: room.roommate_to(Current.user), compact: true %>
      <% end %>
    </div>
  <% end %>
<% end %>
