<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
        p {
            font-family: sans-serif;
        }
    </style>
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>You have <%= pluralize(@total_messages_count, "unread mention") %>:</p>
    
    <% @messages.each do |message| %>
      <p>
        <%= message.creator.name %> on <%= formatted_time message.created_at %> in <%= link_to room_display_name(message.room), room_at_message_url(message.room, message) %>:
        <br/>
        <i><%= message.plain_text_body %></i>
      </p>
    <% end %>
    <p>
      <% if @more_mentions_count > 0 %>
        <%= link_to "See all other #{@more_mentions_count} mentions here", inbox_url %>
      <% end %>
    </p>
    <p>
      <br/>
      <small>
        --
        <br/>
        To opt out of these emails, click <%= link_to "here", mailkick_unsubscribe_url(@user, "notifications") %>.
      </small>
    </p>
  </body>
</html>
