<%= render layout: "rooms/layouts/form", locals: { room: room } do |form| %>
  <%= form.hidden_field :parent_message_id, name: "parent_message_id" %>

  <% if users.any? %>
      <%= user_filter_menu_tag do %>
        <%= user_filter_search_tag if users.count > 20 %>
      
        <div data-filter-target="list" contents>
          <%= render partial: "rooms/threads/user", collection: users, locals: { room: room }, cached: -> user { ["threads_user_list", user] } %>
        </div>
      <% end %>
  <% end %>
<% end %>
