<% @page_title = "Resident Experts" %>
<% @body_class = "sidebar stats-page" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "application/stats" %>
<% end %>

<% content_for :nav do %>
  <%= account_logo_tag if Current.account.logo.attached? %>
  <%= tag.span class: "btn btn--reversed btn--faux room--current" do %>
    <h1 class="room__contents txt-medium overflow-ellipsis">Resident Experts</h1>
  <% end %>
  <%= link_home %>
<% end %>

<% content_for :sidebar, sidebar_turbo_frame_tag(src: user_sidebar_path) %>

<section class="full-width">
  <div style="margin-bottom: 2rem;">
    <p>These are our resident experts. Just @mention any of these amazing practitioners in the chat or in a direct message and they'll help you out.</p>
  </div>
  <div class="stats-grid margin-block">
    <% Expert.all.each do |expert| %>
      <div class="card grid-card">
        <div class="card-header hover-darker">
          <%= link_to user_path(@expert_users[expert[:id]], from: "/experts"), class: "card-header-link", style: "display: block; margin: -0.75rem;" do %>
            <div class="align-center" style="display: flex; gap: 0.5rem; padding: 0.75rem;">
              <%= avatar_tag @expert_users[expert[:id]], loading: :lazy %>
              <h3 class="txt-h3"><%= expert[:name] %></h3>
            </div>
          <% end %>
        </div>
        <div class="card-body compact">
          <div class="txt-small txt-faded">
            <%= expert[:expertise].map { |e| content_tag(:span, e, class: "txt-nowrap") }.join("&nbsp;• ").html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
